/* ------------------ Reset ------------------ */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ------------------ Cllases reutilizables ------------------ */

.flex-center {
	display: flex;
	align-items: center;
}

input:not([type]):focus:not([readonly]) + label, 
input[type=text]:not(.browser-default):focus:not([readonly]) + label, 
input[type=password]:not(.browser-default):focus:not([readonly]) + label {
	color: #1de9b6;
}

.container-w100 {
width: 100%;
}

/* -------------------- Estilos para index - splash -------------------- */

.splash {
	margin: 4rem;
	margin-top: 7rem;
}

.splash img:hover {
	opacity: 0.3;
}

.progress {
	margin: 0;
}

.loader:before,
.loader:after,
.loader {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load 1.8s infinite ease-in-out;
	animation: load 1.8s infinite ease-in-out;
}

.loader {
	margin: 8em auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	-webkit-animation-delay: 0.16s;
	animation-delay: 0.16s;
}

.loader:before {
	left: -3.5em;
}

.loader:after {
	left: 3.5em;
	-webkit-animation-delay: 0.32s;
	animation-delay: 0.32s;
}

.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}

@-webkit-keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em #ffffff;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #FFF;
	}
}

@keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em #ffffff;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #FFF;
	}
}

/* -------------------- Estilos para login -------------------- */

.logo {
  margin-top: 1.5rem;
}

img.responsive-img.logo {
  max-width: 35%;
  height: auto;
}

.btn {
	background-color: #1de9b6;
	font-weight: 600;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #1de9b6;
}


.img-home {
	background-image: url('../assets/images/phone.png');
	height: 100%;
	background-position: center 5%;
	background-repeat: no-repeat;
}

h3 {
	margin-top: 5rem;
	font-size: 3rem;
	font-weight: 800;
	color: #ffffff;
}

img.size-logo {
	width: 450px;
	height: 250px;
}

.background-logo {
	height: 16vh;
	width: 100vh;
	background-color: #ffa944;
}

hr {
  margin-top: 13vh;
  margin-bottom: 4vh;
  border: 0.15rem solid #ffa944;
  border-radius: 0.2rem;
}


/* --------------- Medias queries ---------------*/

@media (min-width: 768px) {

}

@media (min-width: 992px) {
	.splash {
		margin: 0 15rem;
		padding: 2rem;	
		width: 42%;
	}

	.logo {
		margin: 0 20rem;
		margin-top: 0rem;
		padding: 0rem;
	}
	img.responsive-img.logo{
		max-width: 13%;
		height: auto;
	}
}

@media (min-width: 1200px) {

}