<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link href="../assets/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link href="../css/welcome.css" type="text/css" rel="stylesheet">
</head>

<body>
	<!-- Vista complete-->
	<section>
		<div class="container padding1em">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
				<span class="principal-text padding1em">
          <p>Ahora Huellita, cuentanos...</p>
        </span>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12 center-align">
					<div class="row">
						<div class="input-field offset-s1 col s10 m12 l12 ">
              <input placeholder="Distrito" id="age" type="text" class="validate">
              <label>¿En que dirección vives?</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field offset-s1 col s10 m12 l12 padding2em">
              <input placeholder="Nombre y apellido" id="age" type="text" class="validate">
              <label>¿Estás con un humano?¿como se llama?</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field offset-s1 col s10 m12 l12 padding2em">
              <input placeholder="fijo o celular" id="age" type="number" class="validate"><!-- type:number para q solo acepte numeros-->
              <label>¿Tiene algún número para llamarte?</label>
						</div>
					</div>
					<div class="row ">
        	<div class="offset-s1 col s10 m12 l12">
            <label>Dejanos conocer a tu humano guardián</label>
          <div class="photo-container padding1em">
            <form action="#">
              <div class="file-field input-field">
                <div id="photo-upload" class="btn photo-btn">
                  <span><i class="material-icons">add_a_photo</i></span>
                  <input id="subir-fotos" type="file"><!-- agregando funcionalidad para agrgar foto-->
                </div>
                <div class="file-path-wrapper ">
                  <P>Sube una foto</P>
                </div>
								<!-- agrgando un div contenedor-->
								<div class="col s12 contenedor-img">
									<!-- aqui fotos-->
								</div>
              </div>
            </form>
          </div>
        </div>
        	</div>
				</div>
			</div>
			<div class="row">
				<div class="offset-s8 col s4  push-right">
					<button id="next" type="btn" class="next-btn">SIGUIENTE</button>
				</div>
			</div>
		</div>
	</section>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/complete.js"></script>
</body>

</html>
