<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link rel="stylesheet" type="text/css" href="../css/followers.css">
</head>

<body>
  <section>
    <div class="container">
       <div class="row">
          <div class="col s2 m12 l12">
            <label class="label-icon return-icon" for="return"><i class="material-icons padding">arrow_back</i></label>
          </div>
          <div class="col s10 m12 l12">
           <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
           </div>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row padding1em">
        <div class="col s3">
          <span><img id="avatar" src="../assets/images/perro.png" alt="" class="responsive-img circle avatar"></span>
        </div>
        <div class="col-s3">
          <span id="username" class="padding1em username">HuelliAmigo</span>
        </div>
        <div class="col s6">
          <span class="padding1em">Chorrillos, Lima</span>
        </div>
        <div class="row">
          <div class="offset-s6 col s6 flex">
            <button id="follow-btn" class="follow-btn">Seguir</button>
          </div>
        </div>
      </div>
      <div class="row padding1em">
        <div class="col s3">
          <span><img id="avatar" src="../assets/images/perro.png" alt="" class="responsive-img circle avatar"></span>
        </div>
        <div class="col-s3">
          <span id="username" class="padding1em username">HuelliAmigo</span>
        </div>
        <div class="col s6">
          <span class="padding1em">Castilla, Trujillo</span>
        </div>
        <div class="row">
          <div class="offset-s6 col s6 flex">
            <button id="follow-btn" class="follow-btn">Seguir</button>
          </div>
        </div>
      </div>
      <div class="row padding1em">
        <div class="col s3">
          <span><img id="avatar" src="../assets/images/perro.png" alt="" class="responsive-img circle avatar"></span>
        </div>
        <div class="col-s3">
          <span id="username" class="padding1em username">HuelliAmigo</span>
        </div>
        <div class="col s6">
          <span class="padding1em">Pueblo Libre, Lima</span>
        </div>
        <div class="row">
          <div class="offset-s6 col s6 flex">
            <button id="follow-btn" class="follow-btn">Seguir</button>
          </div>
        </div>
      </div>
      <div class="row padding1em">
        <div class="col s3">
          <span><img id="avatar" src="../assets/images/perro.png" alt="" class="responsive-img circle avatar"></span>
        </div>
        <div class="col-s3">
          <span id="username" class="padding1em username">HuelliAmigo</span>
        </div>
        <div class="col s8">
          <span class="padding1em">San Borja, Lima</span>
        </div>
        <div class="row">
          <div class="offset-s6 col s6 flex">
            <button id="follow-btn" class="follow-btn">Seguir</button>
          </div>
        </div>
      </div>
    </div>
  </section>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
<!--Import materialize.js-->
<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
<!-- data.js -->
<script src="../js/data.js"></script>
<!-- app.js-->
<script type="text/javascript" src="../js/followers.js"></script>
</body>

</html>