<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PETSBOOK</title>
	<!--Import Favicon-->
	<link href="../assets/images/favicon.png" type="image/x-icon" rel="shortcut icon" />
	<!--Import Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link href="../vendors/materialize/css/materialize.css" type="text/css" rel="stylesheet" />
	<!-- Import style.css-->
	<link href="../css/welcome.css" type="text/css" rel="stylesheet">
</head>

<body>
  <section>
    <div class="container padding1em">
			<div class="row">
				<div class="col s12 m12 l12 center-align">
				<span class="principal-text padding1em"><p>Huellita,</p>
				<p>dejanos verte y oirte...</p></span>
				</div>
      </div>
      <div class="row">
        <div class="offset-s1 col s10 m12 l12">
          <div class="photo-container padding1em">
            <form action="#">
              <div class="file-field input-field">
                <div id="photo-upload" class="btn photo-btn">
                  <span><i class="material-icons">add_a_photo</i></span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <P>Sube una foto</P>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="offset-s1 col s10 m12 l12">
          <div class="voice-container padding1em">
            <form action="#">
              <div class="file-field input-field">
                <div id="voice-upload" class="btn voice-btn">
                  <span><i class="material-icons">add_a_photo</i></span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <P>Graba tu Ladrido</P>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row padding2em">
				<div class="offset-s8 col s4 push-right">
					<button id="next" type="btn" class="next-btn">SIGUIENTE</button>
				</div>
			</div>
    </div>
  </section>


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
	<!--Import materialize.js-->
	<script type="text/javascript" src="../vendors/materialize/js/materialize.min.js"></script>
	<!-- app.js-->
	<script type="text/javascript" src="../js/upload.js"></script>
</body>

</html>